[submodule "frontend"]
	path = frontend
	url = https://github.com/NkL708/pet-frontend
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/NkL708/pet-backend
	branch = master